<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
<header>
  <% include partials/_header %>
</header>
    <a href="/urls/b2xVn2">lighthouse</a>
    <br>
    <a href="/urls/9sm5xK">google</a>
    <ul>
<!-- needs to take in ??-->
      <% for (shortUrl in urls) { %>
        <li><%=  shortUrl %> - <a href="/urls/<%= shortUrl %>"><%= urls[shortUrl] %></a>
          <form method="POST" action="/urls/<%= shortUrl %>/delete">
            <button style="submit">Delete</button>
            <a href="/urls/<%= shortUrl %>">Edit</a>
          </form>
        </li>
      <% }; %>
    </ul>
</body>
</html>